/* 달콤커피 스타일시트 */

/* 색상코드
#fc731e
#222 */

/* 폰트 */
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
/* 공통스타일 */
* {
    margin: 0; padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    overflow-x: hidden;
}
body {
    font-size: 16px;
    padding-top: 120px;
    width: 100%;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #222;
    display: block;
}
.layout_fix {
    width: 68.75%; /* 1320px */
    margin: 0 auto;
    padding: 0 20px;
}
h2 {
    display: none;
}
p {
    white-space: pre-line;
}

/* /개별스타일 */
.dalkomm_wrap {
    width: 100%; height: 100vh;
    margin: 0 auto;
}

/* 헤더 */
/* 영역지정 */
header {
    width: 100vw; height: 120px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
}
header .layout_fix {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 반응형 */
/* 햄버거메뉴 */

header .menu_open, 
header .menu_open span {
    display: inline-block;
    transition: all 0.4s;
}
header .menu_open {
    position: absolute;
    top:40%; right: 3%;
    display: none;
    width: 30px ;height: 24px;
}
header .menu_open span {
    position: absolute;
    left: 0;
    width: 100%; height: 4px;
    background-color: #222;
    border-radius: 4px;
}
header .menu_open span:nth-of-type(1) {
    top: 0;
}
header .menu_open span:nth-of-type(2) {
    top: 10px;
}
header .menu_open span:nth-of-type(3) {
    bottom: 0;
}
.b_active span:nth-of-type(1) {
    transform: translateY(10px) rotate(-45deg);
}
.b_active span:nth-of-type(2) {
    opacity: 0;
}
.b_active span:nth-of-type(3) {
    transform: translateY(-10px) rotate(45deg);
}

/* 로고 */
header .logo {
    width: 290px; height: 24px;
}
header .logo a, header .logo a img {
    width: 100%; height: 100%;
}
header .logo a img:hover {
    opacity: 30%;
    transition: all 0.5s;
}
/* 메인메뉴 */

header nav {
    width: 58.33%; height: 100%;
}
header nav .main {
    width: 100%; height: 100%;
}
header nav .main ul {
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
}
header nav .main li {
    width: 20%; height: 100%;
    position: relative;
}
header nav .main li a {
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.125rem;
}
.vertical_menu {
    width: 100%; height: 0;
    background-color: #fff;
    position: absolute;
    top: 80px; left: 0;
    transition: all .4s;
    display: flex;
    visibility: collapse;
}
.vertical_menu ul {
    width: 20%; height: 100%;
    margin-top: 5%;
}
.vertical_menu li {
    width: 100%; height: 5%;
}
.vertical_menu a {
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0);
    transition: all .2s;
}
.v_active {
    height: 100vh;
    transition: all .4s;
    visibility: visible;
}
.v_active a {
    color: #222;
    transition: all .4s;
}
.v_active li:first-child a {
    color: #fc731e;
    font-weight: 600;
}

/* 메인메뉴/마우스오버 */

header nav .main li a:hover {
    color: #fc731e;
    transition: all 0.5s ease;
}
header nav .main li a::before {
    content: "";
    width: 0; height: 4px;
    background-color: #fc731e;
    position: absolute;
    bottom: 0; right: 50%;
}
header nav .main li a:hover::before {
    width: 50%;
    transition: all 0.5s;
}
header nav .main li a::after {
    content: "";
    width: 0%; height: 4px;
    background-color: #fc731e;
    position: absolute;
    bottom: 0; left: 50%;
}
header nav .main li a:hover::after {
    width: 50%;
    transition: all 0.5s;
}

/* 서브메뉴 */

header nav .sub {
    width: 100%; height: 250px;
    position: absolute;
    top: 100%; left: 0;
    padding: 10px 0;
    background-color: #222;
    z-index: 50;
    display: none;
}
header nav .sub ul {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
}
header nav .sub li {
    width: 100%; height: 20%;
}
header nav .sub li a {
    color: #fff;
}

/* 서브메뉴/마우스오버 */
header nav .sub li a:hover::before {
    width: 0;
}
header nav .sub li a:hover::after {
    width: 0;
}

/* 슬라이드 섹션 */
/* 영역지정 */

.slide {
    width: 100%; height: 860px;
    position: relative;
    overflow: hidden;
}
.slide ul {
    width: 300%; height: 100%;
    position: absolute;
    display: flex;
}
.slide li {
    width: calc(100%/3); height: 100%;
    display: flex;
}

/* 이미지파트 */
.slide .img_box {
    width: 66.14%; height: 100%; /*1270px*/
}
.slide .slide1 .img_box {
    background: url(../dalkomm_images/coffeeandbread.png) center no-repeat;
    background-size: cover;
}
.slide .slide2 .img_box {
    background: url(../dalkomm_images/images/slide2.jpg) center no-repeat;
    background-size: cover;
}
.slide .slide3 .img_box {
    background: url(../dalkomm_images/images/slide3.jpg) center no-repeat;
    background-size: cover;
}
/* 텍스트파트 */
.slide .txt_box {
    width: 33.86%; height: 100%; /*650px*/
    padding-top: 316px;
    padding-left: 4.79%; /*92px*/
    background-color: #fc731e;
}
.slide .txt_box h2 {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 3.75rem;
    line-height: 5.125rem;
    letter-spacing: 0.125rem;
    color: #fff;
    margin-bottom: 34px;
    display: block;
}
.slide .txt_box p {
    font-size: 1.825rem;
    color: #fff;
    margin-bottom: 36px;
}
.slide .txt_box a {
    width: 49.53%; height: 56px;
    font-size: 1.825rem;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    line-height: 100%;
}
.slide .txt_box a:hover {
    background-color: #fff;
    color: #fc731e;
    transition: all 0.5s;
}

/* 상상이 일상이 되는 곳 */
/* 제목파트 */

.imagination {
    width: 100%; height: 1090px;
}
.imagination .layout_fix {
    text-align: center;
}
.imagination .layout_fix p {
    font-size: 2.25rem;
    padding-top: 218px;
    margin-bottom: 34px;
}
.imagination .layout_fix h3 {
    font-size: 3.75rem;
    color: #fff;
    margin-bottom: 116px;
}

/* 이미지 파트 */
.imagination .float_top {
    width: 100%; height: 15.625vw;
}
.imagination .float_top ul {
    width: 100%; height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.imagination .float_top li {
    position: absolute;
    width: 15.10vw; height: 15.10vw;
    border-radius: 50%;
    opacity: 0;
}
/* 이미지 개별서식 */
.imagination .float_top li:nth-of-type(1) {
    left: 0; bottom: -15.625vw;
    transition: all 0.5s;
    background: url(../dalkomm_images/springtea.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.imagination .float_top li:nth-of-type(2) {
    left: 16.875vw; bottom: -15.625vw;
    transition: all 1s;
    background: url(../dalkomm_images/Hallabong_Juice.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.imagination .float_top li:nth-of-type(3) {
    left: 33.75vw; bottom: -15.625vw;
    transition: all 1.5s;
    background: url(../dalkomm_images/Hallabong_ade.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.imagination .float_top li:nth-of-type(4) {
    left: 50.625vw; bottom: -15.625vw;
    transition: all 2s;
    background: url(../dalkomm_images/Spring-Blossom-Blended.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.imagination .float_top li:nth-of-type(5) {
    left: 67.5vw; bottom: -15.625vw;
    transition: all 2.5s;
    background: url(../dalkomm_images/Jeju-Geentea-Cafelatte-H.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.imagination .float_top li:nth-of-type(6) {
    left: 84.375vw; bottom: -15.625vw;
    transition: all 3s;
    background: url(../dalkomm_images/Jeju-Geentea-Blended.png) no-repeat;
    background-size: cover;
    background-position: center;
}

/* 시그니처 메뉴 */
.signature {
    width: 100%; height: 43.54vw;
    background: url(../dalkomm_images/signature_bg.jpg) left top no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.2%;
}
.signature .layout_fix {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signature .layout_fix .sig_menu {
    width: 100%; height: 60%;
    display: flex;
}
.signature .layout_fix .sig_txt {
    width: 35%; height: 100%;
    margin-left: 10%;
    padding-top: 5%;
}
.signature .layout_fix .sig_txt h3 {
    font-size: 3.75rem;
    font-family: 'S-CoreDream-7ExtraBold';
    color: #f0271f;
    margin-bottom: 4rem;
}
.signature .layout_fix .sig_txt .sig_name {
    font-size: 2.25rem;
    font-family: 'S-CoreDream-7ExtraBold';
    color: #f0271f;
    word-break: keep-all;
}
.signature .layout_fix .sig_txt div:nth-of-type(2) div:nth-of-type(2) {
    font-size: 1.56rem;
    font-family: 'S-CoreDream-7ExtraBold';
    color: #f0271f;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}
.signature .layout_fix .sig_txt div:nth-of-type(2) {
    display: flex;
}
.signature .layout_fix .set_txt {
    word-break: keep-all;
    font-size: 1.56rem;
    padding-top: 1.5rem;
    width: 80%;
}
.signature .layout_fix .sig_img {
    width: 55%; height: 100%;
    position: relative;
    overflow: hidden;
}
.signature .layout_fix .sig_img ul {
    width: 300%; height: 100%;
    display: flex;
    position: absolute;
}
.signature .layout_fix .sig_img li {
    width: calc(100% / 3); height: 100%;
    display: flex;
}
.signature .layout_fix .sig_img li div {
    width: 50%; height: 100%;
}
.signature .layout_fix .menu1 div:nth-of-type(1) {
    background: url(../dalkomm_images/honeymong_ice_clearbg.png) center no-repeat;
    background-size: cover;
}
.signature .layout_fix .menu1 div:nth-of-type(2) {
    background: url(../dalkomm_images/honeymong_hot_clearbg.png) center no-repeat;
    background-size: cover;
}
.signature .layout_fix .menu2 div:nth-of-type(1) {
    background: url(../dalkomm_images/springtea_ice.png) center no-repeat;
    background-size: cover;
}
.signature .layout_fix .menu2 div:nth-of-type(2) {
    background: url(../dalkomm_images/springtea_hot.png) center no-repeat;
    background-size: cover;
}
.signature .layout_fix .menu3 div:nth-of-type(1) {
    background: url(../dalkomm_images/grapefruit_ice.png) center no-repeat;
    background-size: cover;
}
.signature .layout_fix .menu3 div:nth-of-type(2) {
    background: url(../dalkomm_images/grapefruit_hot.png) center no-repeat;
    background-size: cover;
}

/* 시그니처 내용물 */


/* 가장 트렌디한 커피전문점 */
/* 상단부 */
.trendy {
    width: 100%; height: 1298px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.trendy h3 {
    font-family: 'S-CoreDream-7ExtraBold';
    color: #fc731e;
}
.trendy h3,
.trendy p,
.trendy h4 {
    opacity: 0;
}
.trendy .trendy_sec1 h3 {
    font-size: 3.75rem;
    letter-spacing: 0.375rem;
    margin-bottom: 35px;
}
.trendy .trendy_sec1 h4 {
    font-size: 2.25rem; font-weight: 300;
    letter-spacing: -0.125rem;
}
.trendy .trendy_sec1 p {
    font-size: 1.56rem; font-weight: 400;
    line-height: 2.18rem;
    letter-spacing: -0.125rem;
    margin-bottom: 63px;
}
/* 중단부 */
/* 왼쪽 */

.trendy .trendy_sec2 {
    width: 100%; height: 652px;
    display: flex;
}
.trendy .trendy_sec2 .t2_left {
    width: 16.7%; height: 100%; /* 320px */
    padding-left: 5.2%;
    position: relative;
}
.trendy .trendy_sec2 .t2_left h3 {
    width: 70.6%; height: 60px; /* 226px */
    font-size: 4.375rem;
    letter-spacing: 0.5rem;
    line-height: 2.5rem;
    transform: rotate(90deg);
    position: absolute;
    top: 80px; left: 5.31%; /* 17px */
}
.trendy .trendy_sec2 .t2_left p {
    width: 18.75%;
    text-align: center;
    position: absolute;
    top: 226px; left: 100px;
    font-family: 'S-CoreDream-7ExtraBold';
    color: #fc731e;
    line-height: 36px;
    letter-spacing: -2px;
}

/* 오른쪽 */
.trendy .trendy_sec2 .t2_right {
    width: 83.3%; height: 100%;
}
.trendy .trendy_sec2 .t2_right .t2_img {
    width: 100%; height: 494px;
    background: url(../dalkomm_images/trendy.jpg) left top no-repeat;
    background-size: cover;
}
.trendy .trendy_sec2 .t2_right .t2_bot {
    width: 100%; height: 158px;
    display: flex;
    align-items: flex-end;
}
.trendy .trendy_sec2 .t2_right .t2_bot p {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: -0.1rem;
}

/* 하단부 */
.trendy .trendy_sec3 {
    width: 100%; height: 84px;
    text-align: left;
    margin-top: 70px;
    padding-left: 16.7%;
}
.trendy .trendy_sec3 h3 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: 0.375rem;
}
.trendy .trendy_sec3 p {
    color: #fc731e;
    font-size: 1.5rem;
    line-height: 2.75rem;
    letter-spacing: -0.125rem;
    margin-top: 8px;
}

/* 플레이그라운드 */

.playground {
    width: 100%; height: 776px;
    background: url(../dalkomm_images/play_g_bg.jpg) center no-repeat;
    background-size: cover;
}
.playground .layout_fix {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 텍스트파트 */
.playground .layout_fix .play_g_txt {
    width: 45%; height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 3.03%;
}
.playground .layout_fix .play_g_txt h4 {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 1.5rem;
    line-height: 2.75rem;
    letter-spacing: 0.9375rem;
    white-space: pre-line;
}
.playground .layout_fix .play_g_txt h3 {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 3.75rem;
    line-height: 5rem;
    letter-spacing: 0.25rem;
    white-space: pre-line;
    color: #fc731e;

}
.playground .layout_fix .play_g_txt p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.125rem;
    word-spacing: -0.125rem;
    white-space: pre-line;
}
/* 이미지파트 */
.playground .layout_fix .play_g_img {
    width: 55%; height: 510px;
    background: url(../dalkomm_images/garden.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}
.playground .layout_fix .play_g_img div {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(225, 225, 225, 0.7);
    transition: all 0.5s ease-in-out;
}

/* 뉴스 */
/* 제목 */
.news {
    width: 100%; height: 1220px;
    background-color: #fef6e5;
}
.news .layout_fix {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news .layout_fix .news_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 4.545%;
    padding-bottom: 70px;
}
.news .layout_fix .news_title h3 {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 3.75rem;
}
.news .layout_fix .news_title h4 {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 1.875rem;
    position: relative;
}
.news .layout_fix .news_title h4::after {
    content: "";
    width: 22.22%; height: 14px;
    background: url(../dalkomm_images/viewmore.png) right no-repeat;
    background-size: cover;
    position: absolute;
    top: 10px; left: 110%;
}
.news .layout_fix .news_title span {
    color: #fc731e;
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 3.75rem;
}
/* 내용 */
.news .layout_fix .news_box {
    width: 100%; height: 676px;
    clear: both;
    display: flex;
}
.news .layout_fix .news_box ul {
    display: flex;
    justify-content: space-between;
    width: 100%; height: 100%;
}
.news .layout_fix .news_box li {
    width: 30.3%; height: 100%;
}
.news .layout_fix .news_box li a {
    width: 100%; height: 462px;
    background-color: #222;
    position: relative;
}
.news .layout_fix .news_box li a span {
    width: 90%; height: 90%;
    color: #fff;
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 2rem;
    text-align: center;
    line-height: 25rem;
    position: absolute;
    top: 5%; left: 5%;
    border:  5px solid #fff;
    opacity: 0.5;
    display: none;
}
.news .layout_fix .news_box li:nth-of-type(1) a {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../dalkomm_images/news1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.news .layout_fix .news_box li:nth-of-type(1) a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    transition: all 0.5s;
}
.news .layout_fix .news_box li:nth-of-type(2) a {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../dalkomm_images/news2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.news .layout_fix .news_box li:nth-of-type(2) a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    transition: all 0.5s;
}
.news .layout_fix .news_box li:nth-of-type(3) a {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../dalkomm_images/news3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.news .layout_fix .news_box li:nth-of-type(3) a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    transition: all 0.5s;
}
.news .layout_fix .news_box dl {
    width: 100%; height: 214px;
    white-space: pre-line;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.news .layout_fix .news_box dl dt {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 1.5rem;
    margin-top: 80px;
}
.news .layout_fix .news_box dl dd {
    font-size: 15px;
    margin-top: 5%;
}

/* app */

.app {
    width: 100%; height: 954px;
    background-color: #ffe9dc;
}
.app .layout_fix {
    height: 100%;
    display: flex;
    align-items: center;
}
/* 텍스트 */

.app .layout_fix .app_txt {
    width: calc(100%/3); height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16.67%;
}
.app .layout_fix .app_txt h3 {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 3.75rem;
    line-height: 4.6875rem;
    white-space: pre-line;
    letter-spacing: 0.075rem;
    padding-top: 110px;
}
.app .layout_fix .app_txt span {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 3.75rem;
    line-height: 4.6875rem;
    color: #fc731e;
    letter-spacing: 0.075rem;
}
.app .layout_fix .app_txt p {
    font-size: 1.5rem;
    padding-top: 32px;
}

/* 이미지 */
.app .layout_fix .app_img {
    width: 30.3%; height: 444px; /* 1.34 */
}
.app .layout_fix .app_img a {
    width: 100%; height: 100%;
    background:url(../dalkomm_images/app.png) center top no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app .layout_fix .app_img a span {
    width: 50%; height: 20%;
    font-family: 'S-CoreDream-7ExtraBold';
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    line-height: 65px;
    transition: all 0.5;
    display: none;
}

/* 푸터 */

footer {
    width: 100%; height: 340px;
}

/* 메뉴 */
footer .layout_fix {
    height: 100%;
}
footer .layout_fix nav {
    width: 100%; height: 35%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 26px;
    border-bottom: 1px solid #ccc;
}
footer .layout_fix nav ul {
    width: 100%;
    display: flex;
}
footer .layout_fix nav li {
    margin-right: 6.06%;
}
footer .layout_fix nav li a {
    font-size: 1.125rem;
}
footer .layout_fix nav li a:hover {
    color: #fc731e;
    transition: all 0.5s;
}

/* 콘텐츠 */

footer .layout_fix .f_content {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}
footer .layout_fix .f_content .info h4 {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 1.25rem;
    margin-bottom: 22px;
}
footer .layout_fix .f_content .info p {
    font-size: 1.125rem;
    line-height: 25px;
}
footer .layout_fix .f_content .family_site {
    position: relative;
}
footer .layout_fix .f_content .family_site select {
    width: 146px;
    text-align: right;
    border: none;
    border-bottom: 1px solid #222;
    font-family: 'S-CoreDream-7ExtraBold';
}
footer .layout_fix .f_content .family_site::before {
    content: "";
    width: 14px; height: 2px;
    background-color: #222;
    position: absolute;
    top: 11px; left: 7px;
}
footer .layout_fix .f_content .family_site::after {
    content: "";
    width: 14px; height: 2px;
    background-color: #222;
    position: absolute;
    top: 11px; left: 7px;
    transform: rotate(90deg);
}

/* 반응형 소스 */
@media screen and (max-width:1600px) {
    html {
        font-size: 12px;
    }
}
/* 1200px */

@media screen and (max-width:1200px) {
    /* 폰트크기 */

    html, body {
        font-size: 10px;
    }

    /* 헤더 */

    header nav {
        display: none;
    }
    header .menu_open {
        display: inline-block;
    }

    /* 슬라이드 */
    .slide {
        height: 538px;
    }
    .slide .txt_box {
        padding-top: 197px;
    }
    .slide .txt_box a {
        height: 43px;
    }

    /* 상상이 일상이 되는 곳 */
    
    .imagination {
        height: 800px;
    }
    /* 시그니처 메뉴 */

    .signature {
        height: 522px;
    }

    /* 가장 트렌디한 커피전문점 */

    .trendy {
        height: 1012px;
    }
    .trendy .trendy_sec1 h3 {
        margin-bottom: 15px;
    }
    .trendy .trendy_sec1 p {
        margin-bottom: 40px;
    }
    .trendy .trendy_sec2 {
        height: 600px;
    }
    .trendy .trendy_sec2 .t2_left p {
        top: 130px; left: 75px;
        line-height: 31px;
    }
    .trendy .trendy_sec2 .t2_left h3 {
        top: 40px;
    }
    .trendy .trendy_sec2 .t2_right .t2_bot {
        height: 80px;
    }
    .trendy .trendy_sec3 {
        margin-top: 0;
    }

    /* 플레이그라운드 */

    .playground {
        height: 585px;
    }
    .playground .layout_fix .play_g_txt {
        height: 200px;
    }

    /* 뉴스 */

    .news {
        height: 720px;
    }
    .news .layout_fix .news_title {
        padding-bottom: 40px;
    }
    .news .layout_fix .news_title h4::after {
        content: "";
        height: 12px;
        top: 5px; left: 105%;
    }
    .news .layout_fix .news_box {
        height: 476px;
    }
    .news .layout_fix .news_box li a {
        height: 288px;
    }
    .news .layout_fix .news_box dl {
        height: 170px;
    }
    .news .layout_fix .news_box dl dt {
        margin-top: 40px;
    }
    .news .layout_fix .news_box dl dd {
        font-size: 1.2rem;
        text-align: center;
    }
    
    /* 앱 */

    .app {
        height: 654px;
    }
    .app .layout_fix .app_img {
        height: 317px;
    }
    .app .layout_fix .app_img a {
        border-radius: 30px 30px 0 0;
    }
    .app .layout_fix .app_img a span {
        line-height: 40px;
    }
    .app .layout_fix .app_txt p {
        padding-top: 30px;
        white-space: normal;
        word-break: keep-all;
    }

    /* 푸터 */

    footer {
        height: 250px;
    }
    footer .layout_fix .f_content {
        padding-top: 25px;
    }
    footer .layout_fix .f_content .info p {
        line-height: 17px;
    }
}

/* 768px */

@media screen and (max-width:768px) {
    .layout_fix {
        width: 80%;
    }
    
    /* 헤더 */

    body {
        padding-top: 80px;
    }
    header {
        height: 80px;
    }
    header .logo {
        width: 217.5px; height: 18px;
    }

    /* 슬라이드 */

    .slide {
        height: 338px;
    }
    .slide .txt_box {
        padding-top: 87px;
    }
    .slide .txt_box a {
        height: 43px;
    }
    .slide .txt_box h2 {
        font-size: 2.5rem;
        line-height: 3.75rem;
        margin-bottom: 10px;
    }
    .slide .txt_box p {
        font-size: 1.725rem;
        margin-bottom: 24px;
        padding-right: 80px;
    }
    .slide .txt_box a {
        width: 70%;
        text-align: center;
    }

    /* 상상일상 */

    .imagination {
        height: 500px;
    }
    .imagination .layout_fix h3 {
        margin-bottom: 20px;
        font-size: 3rem;
    }
    .imagination .layout_fix p {
        padding-top: 60px;
        margin-bottom: 10px;
    }

    /* 시그니처 */

    .signature .layout_fix .sig_menu {
        height: 45%;
    }
    .signature .layout_fix .sig_txt h3 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .signature .layout_fix .sig_txt .sig_name {
        font-size: 1.5rem;
        word-break: keep-all;
    }
    .signature .layout_fix .sig_txt div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .signature .layout_fix .sig_txt div:nth-of-type(2) div:nth-of-type(2) {
        font-size: 1rem;
        word-break: keep-all;
        padding: 0;
    }
    .signature .layout_fix .set_txt {
        font-size: 1.3rem;
        width: 100%;
    }
    .signature .layout_fix .sig_img {
        width: 60%;
    }

    /* 가장 트렌디한 */

    .trendy {
        height: 800px;
    }
    .trendy .trendy_sec1 h3 {
        font-size: 3rem;
        margin-bottom: 0;
    }
    .trendy .trendy_sec1 h4 {
        font-size: 2rem;
    }
    .trendy .trendy_sec1 p {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    .trendy .trendy_sec2 {
        height: 400px;
    }
    .trendy .trendy_sec2 .t2_left h3 {
        font-size: 3rem;
        top: 15px;
    }
    .trendy .trendy_sec2 .t2_left p {
        line-height: 19px;
        top: 100px; left: 55px;
    }
    .trendy .trendy_sec2 .t2_right .t2_img {
        width: 100%; height: 80%;
    }
    .trendy .trendy_sec3 {
        margin-top: 20px;
    }
    .trendy .trendy_sec3 h3 {
        font-size: 2rem;
    }
    .trendy .trendy_sec3 p {
        margin-top: 0;
    }

    /* 플레이그라운드 */

    .playground .layout_fix .play_g_txt {
        height: 150px;
    }
    .playground .layout_fix .play_g_txt h3 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        word-break: keep-all;
    }

    /* 뉴스 */

    .news {
        height: 620px;
    }
    .news .layout_fix .news_title h3,
    .news .layout_fix .news_title h3 span {
        font-size: 3rem;
        letter-spacing: 0.25rem;
    }
    .news .layout_fix .news_title h4 {
        font-size: 1.5rem;
    }
    .news .layout_fix .news_title h4::after {
        width: 20%; height: 8px;
    }
    .news .layout_fix .news_box {
        height: 300px;
    }
    .news .layout_fix .news_box li a {
        height: 170px;
    }
    .news .layout_fix .news_box li a span {
        line-height: 14rem;
    }
    .news .layout_fix .news_box dl dt {
        font-size: 1.5rem;
        word-break: keep-all;
        padding: 0 25px;
    }
    .news .layout_fix .news_box dl dd {
        display: none;
    }

    /* app */

    .app .layout_fix .app_txt h3,
    .app .layout_fix .app_txt h3 span {
        font-size: 3rem;
        line-height: 3.5rem;
        word-break: keep-all;
    }
    .app .layout_fix .app_txt h3 {
        padding-top: 0px;
    }
    .app .layout_fix .app_img {
        height: 230px;
        margin-left: 20px;
    }
    .app .layout_fix .app_img a span {
        line-height: 28px;
        font-size: 1rem;
    }

    /* 푸터 */

    footer .layout_fix .f_content .info p {
        font-size: 1rem;
    }
}

/* 640px */

@media screen and (width:640px) {

    /* 슬라이드 */

    .slide .txt_box h2 {
        font-size: 2rem;
        line-height: 2.75rem;
    }
    .slide .txt_box p {
        font-size: 1.5rem;
        padding-right: 30px;
        margin-bottom: 30px;
        word-break: keep-all;
    }
    .slide .txt_box a {
        font-size: 1.5rem;
    }

    /* 상상일상 */

    .imagination {
        height: 440px;
    }

    /* 시그니처 */

    .signature .layout_fix .sig_menu {
        height: 37%;
    }
    .signature .layout_fix .sig_txt h3 {
        margin-bottom: 1rem;
    }

    /* 가장 트렌디한 */

    .trendy {
        height: 700px;
    }
    .trendy .trendy_sec2 {
        height: 300px;
    }
    .trendy .trendy_sec2 .t2_left h3 {
        top: 8px; left: 5.31%;
    }
    .trendy .trendy_sec2 .t2_left p {
        top: 95px; left: 47px;
    }
    .trendy .trendy_sec3 h3 {
        margin-top: 20px;
    }

    /* 플레이그라운드 */

    .playground {
        height: 460px;
    }
    .playground .layout_fix .play_g_txt h3 {
        font-size: 2rem;
        line-height: 3rem;
        word-break: keep-all;
    }
    .playground .layout_fix .play_g_img {
        height: 300px;
    }

    /* 뉴스 */

    .news {
        height: 500px;
    }

    /* app */

    .app {
        height: 460px;
    }
    .app .layout_fix .app_txt p {
        display: none;
    }
    .app .layout_fix .app_img {
        height: 170px;
    }
    .app .layout_fix .app_img a span {
        width: 70%; height: 20%;
        line-height: 15px;
    }

    /* 푸터 */

    footer .layout_fix .f_content .info p {
        width: 500px;
    }
    footer .layout_fix .f_content .family_site {
        margin-left: -200px;
    }
}
/* 320px */

@media screen and (max-width:320px) {
    html {
        font-size: 8px;
    }
    .layout_fix {
        width: 94%;
        padding: 0;
    }
    header .logo {
        width: 145px; height: 12px;
    }

    /* 슬라이드 */

    .slide {
        height: 200px;
    }
    .slide .img_box {
        width: 100%;
    }
    .slide .txt_box {
        display: none;
    }

    /* 상상일상 */

    .imagination .layout_fix p {
        padding-top: 150px;
    }

    /* 시그니처 */

    .signature .layout_fix .sig_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
    }
    .signature .layout_fix .sig_txt {
        width: 100%; height: 30%;
        margin: 0;
    }
    .signature .layout_fix .sig_txt h3 {
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .signature .layout_fix .sig_img {
        width: 80%; height: 55%;
    }
    .signature .layout_fix .set_txt {
        display: none;
        margin: 0;
    }
    .signature .layout_fix .sig_txt div:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }
    .signature .layout_fix .sig_txt div:nth-of-type(2) div:nth-of-type(2) {
        margin-left: 0.5rem;
    }

    /* 가장 트렌디한 */

    .trendy {
        height: 300px;
        background-color: #ffe9dc;
        background-size: cover;
    }
    .trendy .trendy_sec1 h4 {
        margin-bottom: 10px;
        color: #222;
    }
    .trendy .trendy_sec1 h3 {
        line-height: 3rem;
        margin-bottom: 20px;
        color: #fc731e;
    }
    .trendy .trendy_sec1 p {
        padding: 0 20px;
        margin-bottom: 0;
        color: #222;
    }
    .trendy .trendy_sec2 {
        height: 200px;
        display: none;
    }
    .trendy .trendy_sec3 {
        margin-top: 20px;
        display: none;
    }

    /* 플레이 그라운드 */

    .playground .layout_fix {
        display: flex;
        flex-direction: column;
    }
    .playground .layout_fix .play_g_txt {
        width: 100%; height: 130px;
        margin-bottom: 50px;
    }
    .playground .layout_fix .play_g_img {
        width: 100%; height: 260px;
    }

    /* 뉴스 */

    .news {
        height: 250px;
    }
    .news .layout_fix .news_title {
        padding-bottom: 15px;
    }
    .news .layout_fix .news_box dl {
        display: none;
    }
    .news .layout_fix .news_box li a span {
        line-height: 10rem;
    }
    .news .layout_fix .news_box,
    .news .layout_fix .news_box ul,
    .news .layout_fix .news_box ul li,
    .news .layout_fix .news_box ul li a {
        height: 100px;
    }

    /* app */

    .app {
        height: 400px;
    }
    .app .layout_fix .app_txt p {
        display: none;
    }
    .app .layout_fix .app_txt h3,
    .app .layout_fix .app_txt h3 span {
        font-size: 2.5rem;
    }
    .app .layout_fix .app_img {
        height: 130px;
    }
    .app .layout_fix .app_img a {
        border-radius: 10px;
    }
    .app .layout_fix .app_img a span {
        width: 90%; height: 20%;
        line-height: 5px;
    }

    /* 푸터 */

    footer .layout_fix .f_content .info {
        width: 100%;
        word-break: keep-all;
        text-align: justify;
    }
    footer .layout_fix .f_content .family_site {
        display: none;
    }
    .vertical_menu a {
        font-size: 1rem;
        text-align: center;
        word-break: keep-all;
    }
}

.border_active {
    display: block !important;
    transition: all 0.5s;
}