/* 폰트 */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* 공통 */

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: #333;
    word-break: keep-all;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
html {
    font-size: 20px;
}
ul li {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
}
h2 {
    display: none;
}
h3 {
    padding-bottom: 1vw;
}
p {
    white-space: pre-line;
}

/* 개별 */
.container {
    width: 100%; height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(62em, auto);
}
.gallery {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vw;
    margin: 0.5vw;
    position: relative;
}
.design .gallery:hover {
    opacity: 0.5;
    transition: all .3s;
}
.gallery a {
    width: 100%; height: 100%;
}
.txt {
    text-align: left;
    margin: 0.5vw;
    margin-top: 1.5vw;
    height: 4em;
}
.txt a {
    font-size: 1.2rem;
    width:100%; height: 100%;
    line-height: 1.4rem;
    color: #222;
}
.txt p {
    font-size: 1rem;
    line-height: 1.3rem;
    word-break: normal;
}
/* 표지 */
header {
    width: 100%;
    background-color: #111;
    position: relative;
    overflow: hidden;
}
.layout_fix {
    width: 62.5vw; height: 100%;
    margin: 0 auto;
    position: relative;
}
.title {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title h1 {
    color: #84ff29;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 0.5em;
    position: absolute;
    top: 40%; left: 0;
    opacity: 0;
    transition: all 2s;
}
.title h4 {
    color: #fff;
    font-size: 1.5rem; font-weight: 100;
    position: absolute;
    top: 55%; left: 0;
    opacity: 0;
    transition: all 2s;
}
.circle1 {
    width: 70vw; height: 70vw;
    background-color: #222;
    position: absolute;
    bottom: -20%; left: 100%;
    border-radius: 50%;
    transition: all .5s ease-out;
    /* visibility: hidden; */
}
.circle2 {
    width: 30vw; height: 30vw;
    background-color: #333;
    position: absolute;
    bottom: -60%; left: 50%;
    border-radius: 50%;
    transition: all .5s ease-out;
    /* visibility: hidden; */
}
.logo {
    width: 10.6vw; height: 2.08vw;
    display: flex;
    align-items: center;
}
.logo a {
    color: #fff;
    width: 100%; height: 100%;
    background: url(../images/logo.png) center no-repeat;
    background-size: cover;
}
.logo a:hover {
    color: #84ff29;
    transition: all .5s;
}
header nav {
    width: 100%; height: 5vw;
    padding: 0 18.75%;
    display: flex;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    z-index: 50;
}
header nav ul {
    display: flex;
    width: 60%;
    height: 100%;
}
header nav li {
    width: 25%; height: 100%;
}
header nav li a {
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
}
header nav li a:focus{
    color: #84ff29;
}
header nav li a:hover {
    color: #84ff29;
    transition: all .5s;
}

/* 웹 */
.web {
    width: 100%;
    background-color: #eee;
}
.web .layout_fix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    align-content: center;
}
.web .layout_fix h3 {
    grid-column: 1 / 3;
    margin: 0.5vw;
    font-size: 1.5rem;
}
.web .layout_fix .gallery:nth-of-type(1) {
    background-image: url(../images/slide3.jpg);
}
.web .layout_fix .gallery:nth-of-type(2) {
    background-image: url(../images/slide2.jpg);
}
.web .txt a {
    width: 40%;
    font-weight: 600;
}
.web .txt a span {
    font-size: 1rem;
    color: #888;
}
.web .txt a span:hover {
    color: #444;
}

/* 디자인 */
.design {
    width: 100%;
}
.design .layout_fix h3 {
    grid-column: 1 / 5;
    margin: 0.5vw;
    font-size: 1.5rem;
}
.design .layout_fix {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    align-content: center;
}
.design .layout_fix .gallery h2 a {
    width: 100%; height: 100%;
}
.design .layout_fix .gallery:nth-of-type(1) {
    background-image: url(../images/brochure.jpg);
}
.design .layout_fix .gallery:nth-of-type(2) {
    background-image: url(../images/idcard.png);
}
.design .layout_fix .gallery:nth-of-type(3) {
    background-image: url(../images/standing.jpg);
}
.design .layout_fix .gallery:nth-of-type(4) {
    background-image: url(../images/10.jpg);
}
.design .txt a span {
    font-size: 1rem;
    color: #666;
    position: relative;
}
.design .txt a span::after {
    content: "";
    width: 0.45rem; height: 0.75rem;
    background: url(../images/arrow.png) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 24%; left: 110%;
}
/* 연락처 */
footer {
    width: 100%; height: 30em;
    background-color: #111;
}
footer .layout_fix {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .layout_fix nav {
    width: 100%; height: 100%;
}
footer .layout_fix nav ul {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .layout_fix nav li {
    width: 100%;
}
footer .layout_fix nav a {
    color: #fff;
    margin: 1em;
    width: 100%; height: 100%;
    font-size: 1.5rem;
}
footer .layout_fix nav li a {
    color: #84ff29;
}
footer .layout_fix nav a span {
    margin-left: 1em;
    color: #fff;
    font-size: 1.2rem; font-weight: 100;
}

/* 팝업창 */

.modal {
    width: 50vw; height: 40vh;
    background: linear-gradient(to right, #000000, #434343);
    border-radius: 2px;
    position: fixed;
    top: 25%; left: 25%;
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
}
.modal h3 {
    color: #84ff29;
    margin-bottom: 0.5em;
    font-size: 1.5rem;
}
.modal h5 {
    color: #fff;
    margin-bottom: 1em;
    font-size: 1.2rem; font-weight: 400;
}
.modal p {
    color: #fff;
    display: none;
    font-weight: 100;
}
#modalClose {
    width: 1.5vw; height: 1.5vw;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    position: absolute;
    top: 2%; right: 1.2%;
}
.modalOpen {
    visibility: visible;
}

/* 스타일가이드 */

.style_guide {
    position: absolute;
    top: 35%; left: 30%;
    width: 12vw; height: 2.8vw;
    background-color: #000;
    border-radius: 2px;
    display: flex;
    visibility: collapse;
}
.style_guide a {
    color: #fff;
    font-weight: 100;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding-bottom: 5px;
}
.web .gallery:nth-of-type(2) .style_guide a {
    width: 100%;
}
.style_guide a:hover {
    color: #84ff29;
}
.web .gallery:nth-of-type(1) .style_guide a:first-child::after {
    content: "";
    width: 4px; height: 4px;
    background-color: #fff;
    position: absolute;
    top: 48%; left: 49.4%;
    transform: rotate(45deg);
}
.style_guide::after {
    content: "";
    width: 2vw; height: 2vw;
    position: absolute;
    top: 35%; left: 42%;
    background-color: #000;
    transform: rotate(45deg);
}

.gallery:hover > .style_guide {
    visibility: visible;
}

/* 웹 상세 */

.web_txt {
    width: 30%; height: 100vh;
    position: fixed;
    top: 0; right: -30%;
    background-color: #111;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10vh;
    transition: all .4s ease-in-out;
}
.web_txt > div {
    width: 94%; height: 23%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
}
.web_txt h4 {
    color: #84ff29;
    width: 100%; height: 20%;
    font-size: 1.5rem;
}
.web_txt p {
    color: #fff;
    width: 100%; height: 40%;
    font-size: 1rem;
    line-height: 1.3em;
    display: flex;
    align-items: center;
}
.web_txt > div div {
    width: 100%; height: 40%;
    display: flex;
    align-items: center;
}
.web_txt .colorbox a {
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.webbox1 .colorbox a:first-child {
    width: 3vw; height: 3vw;
    background-color: #ed7126;
    color: #ed7126;
}
.webbox1 .colorbox a:last-child {
    width: 3vw; height: 3vw;
    background-color: #e12d22;
    color: #e12d22;
    margin-left: 0.5vw;
}
.webbox2 .colorbox a:first-child {
    width: 3vw; height: 3vw;
    background-color: #b3a174;
    color: #b3a174;
}
.webbox2 .colorbox a:last-child {
    width: 3vw; height: 3vw;
    background-color: #391a17;
    color: #391a17;
    margin-left: 0.5vw;
}
.web_txt .colorbox a:hover {
    color: #fff;
}
.web_txt ul {
    width: 100%; height: 100%;
}
.web_txt ul li {
    color: #fff;
    font-size: 1rem;
    line-height: 1.3em;
    list-style: disc;
    margin-left: 1rem;
}
.web_txt > a {
    position: absolute;
    top: 7.7vw; right: 0;
    color: #fff;
    font-size: 2rem;
    width: 4vw; height: 4vw;
}
.webact {
    right: 0;
    transition: all .4s ease-in-out;
}