/* font */
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}
/* 공통 */

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: #222;
}
body {
    font-family: 'S-CoreDream-4Regular';
    padding-top: 120px;
}
ul li {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
}
h2 {
    font-size: 2.25rem;
    font-weight: 700;
    color: #FC731E;
    margin-bottom: 1em;
}
.layout_fix2 {
    width: 68.75%; /* 1320px */
    margin: 0 auto;
    padding: 0 20px;
}

/* 개별 */

.subwrap {
    width: 100%; height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
}
.subwrap .layout_fix {
    width: 1320px; height: 100%;
    margin: 0 auto;
    padding: 0 1em;
}

/* 헤더 */

header {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100vw; height: 120px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
}
header .layout_fix2 {
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

/* 로고 */
header .logo {
    width: 290px; height: 24px;
}
header .logo a, header .logo a img {
    width: 100%; height: 100%;
}
header .logo a img:hover {
    opacity: 30%;
    transition: all 0.5s;
}

/* 메인메뉴 */

header nav {
    width: 58.33%; height: 100%;
}
header nav .main {
    width: 100%; height: 100%;
}
header nav .main ul {
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
}
header nav .main li {
    width: 20%; height: 100%;
    position: relative;
}
header nav .main li a {
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.125rem;
}

/* 메인메뉴/마우스오버 */

header nav .main li a:hover {
    color: #fc731e;
    transition: all 0.5s ease;
}
header nav .main li a::before {
    content: "";
    width: 0; height: 4px;
    background-color: #fc731e;
    position: absolute;
    bottom: 0; right: 50%;
}
header nav .main li a:hover::before {
    width: 50%;
    transition: all 0.5s;
}
header nav .main li a::after {
    content: "";
    width: 0%; height: 4px;
    background-color: #fc731e;
    position: absolute;
    bottom: 0; left: 50%;
}
header nav .main li a:hover::after {
    width: 50%;
    transition: all 0.5s;
}

/* 서브메뉴 */

header nav .sub {
    width: 100%; height: 250px;
    position: absolute;
    top: 100%; left: 0;
    padding: 10px 0;
    background-color: #222;
    z-index: 50;
    display: none;
}
header nav .sub ul {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
}
header nav .sub li {
    width: 100%; height: 20%;
}
header nav .sub li a {
    color: #fff;
}

/* 서브메뉴/마우스오버 */
header nav .sub li a:hover::before {
    width: 0;
}
header nav .sub li a:hover::after {
    width: 0;
}

/* 타이포 */
.typo {
    padding-top: 50px;
    width: 100%; height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.typo p {
    margin-bottom: 1rem;
}
.typo p:nth-of-type(1) {
    font-size: 3.75rem;
}
.typo p:nth-of-type(2) {
    font-size: 2.25rem;
}
.typo p:nth-of-type(3) {
    font-size: 1.5rem;
}
/* 테이블 */
.table {
    width: 100%; height: 50vh;
    margin-bottom: 15vh;
}
.table h2 {
    width: 100%; height: 10%;
}
.table table {
    width: 100%; height: 80%;
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse;
}
.table table caption {
    display: none;
}
.table tr th,
.table tr td {
    padding: 17px 25px;
}
.table tr:first-child th {
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
}
.table tr:last-child th {
    padding: 50px 25px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-color: #eee;
}
.table tr td {
    border-bottom: 2px solid #ccc;
    color: #666;
}
.table tr th:nth-of-type(1),
.table tr td:nth-of-type(1) {
    width: 20%;
}
.table tr th:nth-of-type(2),
.table tr td:nth-of-type(2) {
    width: 20%;
}
.table tr th:nth-of-type(3),
.table tr td:nth-of-type(3) {
    width: 60%;
}
/* 버튼컬러 */

.btnColor {
    width: 100%; height: 40vh;
    margin-bottom: 15vh;
}
.btnAll {
    width: 100%; height: 100%;
    display: flex;
    background-color: #f2f2f2;
}
.btnAll > div {
    width: calc(100% / 3);
    margin: 10px;
}
.btnColor h5 {
    width: 100%; height: 20%;
    margin-left: 10%;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
}
.btn_box {
    width: 100%; height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}
.btn_box button {
    width: 80%; height: 20%;
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: 'S-CoreDream-4Regular';
    border-radius: 2px;
    border: none;
}
.normal button:first-child {
    background-color: #FC731E;
    color: #fff;
}
.normal button:last-child {
    background-color: #222;
    color: #fff;
}
.hover button:first-child {
    background-color: #fff;
    color: #FC731E;
}
.hover button:last-child {
    background-color: #fff;
    color: #222;
}
.activebtn button:first-child {
    background-color: #FC731E;
    color: #fff;
    transition: all .4s;
}
.activebtn button:first-child:hover {
    background-color: #fff;
    color: #FC731E;
    transition: all .4s;
}
.activebtn button:last-child {
    background-color: #222;
    color: #fff;
    transition: all .4s;
}
.activebtn button:last-child:hover {
    background-color: #fff;
    color: #222;
    transition: all .4s;
}

/* 색상코드 */
.colorbox {
    width: 100%; height: 60vh;
}
.colorbox h2 {
    width: 100%; height: 20%;
}
.color {
    width: 100%; height: 80%;
    display: flex;
}
.color div {
    width: 20%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
}
.color h5 {
    font-size: 1rem; font-weight: 100;
}
.color div:nth-of-type(1) {
    background-color: #FC731E;
}
.color div:nth-of-type(2) {
    background-color: #ccc;
}
.color div:nth-of-type(3) {
    background-color: #fff;
}
.color div:nth-of-type(4) {
    background-color: #666;
}
.color div:nth-of-type(5) {
    background-color: #222;
}
.color div:nth-of-type(5) h5,
.color div:nth-of-type(5) p {
    color: #fff;
}

/* 푸터 */

footer {
    width: 100%; height: 14.7vw;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 메뉴 */
footer .layout_fix2 {
    width:68.75%; height: 100%;
}
footer .layout_fix2 nav {
    width: 100%; height: 35%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 26px;
    border-bottom: 1px solid #ccc;
}
footer .layout_fix2 nav ul {
    width: 100%;
    display: flex;
}
footer .layout_fix2 nav li {
    margin-right: 6.06%;
}
footer .layout_fix2 nav li a {
    font-size: 1.125rem;
}
footer .layout_fix2 nav li a:hover {
    color: #fc731e;
    transition: all 0.5s;
}

/* 콘텐츠 */

footer .layout_fix2 .f_content {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}
footer .layout_fix2 .f_content .info h4 {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 1.25rem;
    margin-bottom: 22px;
}
footer .layout_fix2 .f_content .info p {
    font-size: 1.125rem;
    line-height: 25px;
    white-space: pre-line;
}
footer .layout_fix2 .f_content .family_site {
    position: relative;
}
footer .layout_fix2 .f_content .family_site select {
    width: 146px;
    text-align: right;
    border: none;
    border-bottom: 1px solid #222;
    font-family: 'S-CoreDream-7ExtraBold';
}
footer .layout_fix2 .f_content .family_site::before {
    content: "";
    width: 14px; height: 2px;
    background-color: #222;
    position: absolute;
    top: 11px; left: 7px;
}
footer .layout_fix2 .f_content .family_site::after {
    content: "";
    width: 14px; height: 2px;
    background-color: #222;
    position: absolute;
    top: 11px; left: 7px;
    transform: rotate(90deg);
}